<h3>Enter the details for your vacation</h3>
<%= form_for @vacation do |f| %>
<div class = "form-group">
  Name: <%= f.text_field :name %></br>
  Location: <%= f.select :location, '<option>Walt Disney World</option><option>Las Vegas</option>'.html_safe %></br>
  Date: <%= f.date_select :date, start_year: 2016 %></br>
  Duration: <%= f.select :duration, '<option value=1>1</option><option value=2>2</option><option value=3>3</option><option value=4>4</option>'.html_safe %> nights</br>
  Adults: <%= f.number_field :adults %></br>
  Kids: <%= f.number_field :kids %></br>
  Budget: <%= f.number_field :budget %></br>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.submit %>
</div>
<% end %>
<small><%= link_to "Back", vacation_path(@vacation) %></small>
