<h2><%= @vacation.name %></h2>
<h3><%= (@vacation.date - Time.now.to_date).to_i %> days left until your vacation to <%= @vacation.location %>!! You'll be departing on <%= @vacation.date %> for <%= @vacation.duration %> nights with a party of <%= @vacation.adults %> adults and <%= @vacation.kids %> kids and a budget of <%= @vacation.budget %> dollars.</h3>
<small><%= link_to "Edit my vacation details", edit_vacation_path(@vacation)%>
</br></br>
<ul><h4>My Planning Timeline</h4>
  <% @vacation.deadlines.each do |dl| %>
    <li><%= dl.task %></li>
  <% end %>
</ul>
</br>
<ul><h4>My Saved Articles</h4>
  <%= link_to "Add Article", new_article_path%></br>
  <% @vacation.articles.each do |article| %>
    <li><%= link_to article.title, article.url %></li>
  <% end %>
</ul>
<ul><h4>My Checklists</h4></ul>
<%= link_to "Back to my vacations", user_path(current_user.id) %>
